<div class="owner-top">

  <div class="employee-list">
    <div class="list-title">
      <h4>従業員リスト</h4>
      <%= link_to new_employee_registration_path do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>

    <div id="employees">
      <%
=begin%>
 <% @employees.each do |employee| %>
        <div class="employee-row">
          <%= employee.name %>
        </div>
      <% end %> 
<%
=end%>
      <caption>※以下サンプル従業員です</caption>
      <li>森田</li>
      <li>岡田</li>
      <li>井ノ原</li>
    </div>
  </div>

  <div class="working-day-list">
    <div class="list-title">
      <h4>営業日リスト</h4>
      <%= link_to new_schedule_path do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>

    <div id="schedules">
      <% @schedules.each do |schedule| %>
        <div class="schedule-row">
          <%= render schedule %>
          <p>
            <%= link_to "詳細", schedule %>
          </p>
        </div>
      <% end %>
    </div>

  </div>
</div>

