<div class="owner-top">
  <div class="section-icon owner-section-icon">
    <i class="fa-solid fa-user"></i>
    <h5>オーナーログイン中</h5>
  </div>

  <p>
    <% if owner_signed_in? %>
      <strong><%= current_owner.shop_name %></strong>さん
      <%= link_to 'ログアウト', destroy_owner_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign up', new_owner_registration_path %> |
      <%= link_to 'Login', new_owner_session_path %>
    <% end %>
  </p>

  <div class="employee-list">
    <div class="list-title">
      <h4>従業員リスト</h4>
      <%= link_to new_employee_registration_path do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>



  </div>

  <div class="working-day-list">
    <div class="list-title">
      <h4>営業日リスト</h4>
      <%= link_to new_schedule_path do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>

    <div id="schedules">
      <% @schedules.each do |schedule| %>
        <div class="schedule-row">
          <%= render schedule %>
          <p>
            <%= link_to "詳細", schedule %>
          </p>
        </div>
      <% end %>
    </div>

  </div>
</div>

