<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :place, "場所", style: "display: block" %>
    <%= form.text_field :place %>
  </div>

  <div>
    <%= form.label :date, "日付", style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :start_time, "開始時間", style: "display: block" %>
    <%= form.time_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, "終了時間", style: "display: block" %>
    <%= form.time_field :end_time %>
  </div>

  <div>
    <%= form.label :memo, "メモ", style: "display: block" %>
    <%= form.text_area :memo %>
  </div>

  <div class="owner-id-form">
    <%= form.label :owner_id, "オーナーID", style: "display: block" %>
    <%= form.text_field :owner_id, value: current_owner.owner_id %>
  </div> 

  <div>
    <%= form.submit %>
  </div>
<% end %>
