<div id="<%= dom_id schedule %>" class="schedule-list" >
  <p>
    <strong>場所:</strong>
    <%= schedule.place %>
  </p>

  <p>
    <strong>日時:</strong>
    <%= schedule.date %> <%= schedule.start_time %> <%= schedule.end_time %>
  </p>

  <%
=begin%>
 <p>
    <strong>開始時間:</strong>
    <%= schedule.start_time %>
  </p>

  <p>
    <strong>終了時間:</strong>
    <%= schedule.end_time %>
  </p> 
<%
=end%>

  <%
=begin%>
 <p>
    <strong>Memo:</strong>
    <%= schedule.memo %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= schedule.owner_id %>
  </p> 
<%
=end%>

</div>
