<div class="schedule-session">
  <%
=begin%>
 <p style="color: green"><%= notice %></p> 
<%
=end%>

  <%= render @schedule %>

  <div>
    <%= link_to "更新", edit_schedule_path(@schedule) %> |
    <%= link_to "戻る", owners_top_path %>

    <%= button_to "削除", @schedule, method: :delete %>
  </div>
</div>
