<!DOCTYPE html>
<html>
  <head>
    <title>K-Carシフト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" rel="stylesheet"> 
  </head>

  <header>
    <div class="title-icon">
      <i class="fa-solid fa-truck fa-lg"></i>
      <h1 class="title">K-Carシフト</h1>
    </div>
    <p>
      <% if owner_signed_in? %>
        Logged in as <strong><%= current_owner.email %></strong>.
        <%= link_to 'Edit profile', edit_owner_registration_path %> |
        <%= link_to 'Logout', destroy_owner_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign up', new_owner_registration_path %> |
        <%= link_to 'Login', new_owner_session_path %>
      <% end %>
    </p>
    <hr>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <hr>
    <p>©2023 SotaIguchi</p>
  </footer>

</html>
