<!DOCTYPE html>
<html>
  <head>
    <title>K-Carシフト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" rel="stylesheet"> 
  </head>

  <body>
    <header>
      <div class="title-icon">
        <i class="fa-solid fa-truck fa-lg"></i>
        <h1 class="title">K-Carシフト</h1>
      </div>

      <% if owner_signed_in? %>
        <div class="is-login">
          <strong><%= current_owner.shop_name %></strong>さん
          <%= link_to 'ログアウト', destroy_owner_session_path, method: :delete %>
        </div>
      <% end %>
    </header>
    <hr>

    <% if owner_signed_in? %>
      <div class="section-icon owner-section-icon">
        <i class="fa-solid fa-user"></i>
        <h5>オーナーログイン中</h5>
      </div>
    <% end %>
    
    <%= yield %>

    <footer>
      <hr>
      <p>©2023 SotaIguchi</p>
    </footer>

  </body>

</html>
